
models/**/*.pkl

datasets
datasets/
__pycache__/
**/__pycache__/
venv/
test.json
test.png
test-cloudrun/result*.jpg
test-cloudrun/test*.jpg
*.gif
*.jpg
**/*.gif

gcf-function/detectron2/
gcf-function/torch/
gcf-function/torchvision/
gcf-function/model/

cloud-run-function/recognizer.py
cloud-run-function/models/

# Credenciais e dados locais do Google Drive / Docker (nunca versionar)
gdrive_service_account.json
gdrive_credentials.json
gdrive_token.json
models_from_gdrive/
app_generated_files/
app_raw_files/
datasets_gdrive/
